<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/static/common/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/css/common/_common.css">
<!--필요 css, preload, prefetch 등 추가-->
<title><%= title %></title>