<!DOCTYPE html>
<html lang="kr">
<head>
    <!-- head -->
    <%- include('../partials/head/head-minimal') %>
</head>
<body>
    <!-- body -->
    <main>
        <%- body %>
    </main>

    <!-- javascript -->
    <%- include('../partials/scripts/scripts') %>
</body>
</html>
