<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/static/common/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/css/common/_common.css">
<link rel="stylesheet" href="/css/main/main-full.css">
<link rel="dns-prefetch" href="https://github.com">
<link rel="preconnect" href="https://github.com">
<link rel="prefetch" href="./api-docs" as="document">
<title><%= title %></title>